.iconperso-phone{
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: center;
  width : 16px;
  height : 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left:auto;
  margin-right: auto;
}
.iconperso-online{
  background-image: url("../img/online.png");
  background-repeat: no-repeat;
  width : 10px;
  height : 10px;
  float :left;
  margin-top : 5px;
  margin-right : 5px;
}
.iconperso-offline{
  background-image: url("../img/offline.png");
  background-repeat: no-repeat;
  width : 10px;
  height : 10px;
  float :left;
  margin-top : 5px;
  margin-right : 5px;
}
.iconperso-busy{
  background-image: url("../img/busy.png");
  background-repeat: no-repeat;
  width : 10px;
  height : 10px;
  float :left;
  margin-top : 5px;
  margin-right : 5px;
}
.iconperso-absent{
  background-image: url("../img/absent.png");
  background-repeat: no-repeat;
  width : 10px;
  height : 10px;
  float :left;
  margin-top : 5px;
  margin-right : 5px;
}
.iconperso-delete-on-left-dialer{
  background-image: url("../img/arrow-left.png");
  background-repeat: no-repeat;
  background-position: center;
  width : 20px;
  height : 20px;

}
.iconperso-phone-dialer{
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: center;
  width : 20px;
  height : 20px;
}
.img-profil{
  width :50px;
  height: 50px; 
  background-image: url("../img/default-user(50x50).png");
  background-repeat: no-repeat;
  background-position: center;
}
.img-profil-large{
  width :230px;
  height: 230px; 
  background-image: url("../img/default-user.png");
  background-repeat: no-repeat;
  background-position: center;
}