#chatbox {
  position: absolute;
  bottom: 0;
  height: 25%;
  margin-left: 0px;
  margin-right: 0px;
}
#containerChat {
  width: 100%;
  height: 100%;
  position: relative;
}
#messages {
  height: 65%;
  max-height: 65%;
  overflow: auto;
}
#group-input-chat {
  position: absolute;
  bottom: 0;
}
.miniVideo {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 10%;
}
#videos {
  height: 69%;
  position: relative;
}
video {
  border: 5px solid #000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
}
#you {
  z-index: 999;
}
#fullscreen {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 1000;
}